<%= link_to("<< Back to List", {:action => 'index', :class => 'back-link'})%>
<div class="questions delete">
  <h2>Delete Question</h2>

  <%= form_for @question, method: :delete do |f| %>
    <p>Are you sure you want to permanently delete this question?</p>
    <p class="reference-name"><%= @question.question %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Question")%>
    </div>

  <% end %>
</div>