<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="container edit">
  <h2>Edit Question</h2>
  <%= form_for @question do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>

  <div>
    <%= f.submit 'Update Question', :class => 'btn btn-primary' %>
  </div>

  <% end %>

</div>