<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="questions new">
  <h2>Create Question</h2>
  <%= form_for(:question, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>

  <div class="form-buttons">
    <%= submit_tag("Create Question") %>
  </div>

  <% end %>

</div>