<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="container new">
  <h2>Create Question</h2>
  <%= form_for(:question, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>

  <div class="form-buttons">
    <%= f.submit 'Create Question', :class => 'btn btn-info' %>
  </div>

  <% end %>

</div>