/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.listing th .current {
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: right center;
}

.listing th .asc {
  background-image: url('arrow-down.gif');
}

.listing th .desc {
  background-image: url('arrow-up.gif');
}

#choose_file {
	position: relative;
	display: inline;
	width: 180px;

}